<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2cg.accommodation.dao.AdvertiseDAO">
	<resultMap id="BaseResultMap" type="com.h2cg.accommodation.dto.AdvertiseDTO">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="suburb" jdbcType="VARCHAR" property="suburb" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="zipcode" jdbcType="INTEGER" property="zipcode" />
		<result column="pic_path" jdbcType="VARCHAR" property="picPath" />
		<result column="longitude" jdbcType="DOUBLE" property="longitude" />
		<result column="latitude" jdbcType="DOUBLE" property="latitude" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
		<result column="bedroom" jdbcType="INTEGER" property="bedroom" />
		<result column="bathroom" jdbcType="INTEGER" property="bathroom" />
		<result column="max_people" jdbcType="INTEGER" property="maxPeople" />
		<result column="adv_type" jdbcType="VARCHAR" property="advType" />
		<result column="property_type" jdbcType="VARCHAR" property="propertyType" />
	</resultMap>
	<select id="selectAdv" resultMap="BaseResultMap"
		parameterType="com.h2cg.accommodation.dto.BookDTO">
		SELECT
			* 
		FROM
			`ADVERTISE` a
			LEFT JOIN ROOM r ON a.id = r.adv_id
			LEFT JOIN BOOK b ON r.id = b.room_id 
		WHERE
			a.id IN (
			SELECT
				r.adv_id 
			FROM
				ROOM r 
			WHERE
				r.id NOT IN (
				SELECT
					b.room_id 
				FROM
					BOOK b
					LEFT JOIN ROOM r ON r.id = b.room_id 
				WHERE
					b.stay_end &gt;=
				#{stayBegin,jdbcType=TIMESTAMP} 
				and b.stay_begin &lt;=
				#{stayEnd,jdbcType=TIMESTAMP} GROUP BY b.room_id ) GROUP BY r.adv_id HAVING count( * ) &gt;= #{room.adv.bedroom} 
			) 
			AND a.id IN (
			SELECT
				r.adv_id
			FROM
				ROOM r 
			WHERE
				r.id NOT IN (
				SELECT
					b.room_id 
				FROM
					BOOK b
					LEFT JOIN ROOM r ON r.id = b.room_id 
				WHERE
					b.stay_end &gt;=
				#{stayBegin,jdbcType=TIMESTAMP} 
				and b.stay_begin &lt;=
				#{stayEnd,jdbcType=TIMESTAMP} GROUP BY b.room_id 
				) 	GROUP BY
			r.adv_id  HAVING sum( r.max_people ) &gt;= #{room.adv.maxPeople}
		
			)

		<if test="room.adv.city != null and room.adv.city !='' ">
			and address like CONCAT('%',#{room.adv.city},'%') 
		</if>
		<if test="room.adv.propertyType != null and room.adv.propertyType !='' ">
			and property_type like #{room.adv.propertyType}
		</if>
		<if test="room.adv.advType != null and room.adv.advType !='' ">
			and adv_type like #{room.adv.advType}
		</if>
		 GROUP BY a.id


	</select>

	<select id="selectAdvById" resultMap="BaseResultMap"
		parameterType="com.h2cg.accommodation.dto.AdvertiseDTO">
		select *
		from ADVERTISE where id = #{id}
	</select>
	
	<select id="selectAdvByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from ADVERTISE  where user_id = #{id}
	</select>
	<select id="selectByAddr" resultMap="BaseResultMap"
		parameterType="com.h2cg.accommodation.dto.AdvertiseDTO">
		select * 
		from ADVERTISE where address = #{address}
	</select>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from ADVERTISE where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.h2cg.accommodation.dto.AdvertiseDTO">
		insert into ADVERTISE (id, user_id, title,
		description,
		state, suburb,
		address, zipcode, pic_path,
		longitude, latitude, time,
		bedroom, bathroom, max_people,
		adv_type, property_type)
		values
		(#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR},
		#{suburb,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{zipcode,jdbcType=INTEGER},
		#{picPath,jdbcType=VARCHAR},
		#{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE},
		#{time,jdbcType=TIMESTAMP},
		#{bedroom,jdbcType=INTEGER}, #{bathroom,jdbcType=INTEGER},
		#{maxPeople,jdbcType=INTEGER},
		#{advType,jdbcType=VARCHAR},
		#{propertyType,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.h2cg.accommodation.dto.AdvertiseDTO" keyProperty="id" useGeneratedKeys="true" >
		insert into ADVERTISE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="suburb != null">
				suburb,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="zipcode != null">
				zipcode,
			</if>
			<if test="picPath != null">
				pic_path,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="bedroom != null">
				bedroom,
			</if>
			<if test="bathroom != null">
				bathroom,
			</if>
			<if test="maxPeople != null">
				max_people,
			</if>
			<if test="advType != null">
				adv_type,
			</if>
			<if test="propertyType != null">
				property_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="suburb != null">
				#{suburb,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				#{zipcode,jdbcType=INTEGER},
			</if>
			<if test="picPath != null">
				#{picPath,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DOUBLE},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DOUBLE},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="bedroom != null">
				#{bedroom,jdbcType=INTEGER},
			</if>
			<if test="bathroom != null">
				#{bathroom,jdbcType=INTEGER},
			</if>
			<if test="maxPeople != null">
				#{maxPeople,jdbcType=INTEGER},
			</if>
			<if test="advType != null">
				#{advType,jdbcType=VARCHAR},
			</if>
			<if test="propertyType != null">
				#{propertyType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
<update id="updateRmNum" parameterType="java.lang.Integer">
	UPDATE ADVERTISE a set bedroom = #{bedroom}, max_people = #{capacity}
	WHERE id=#{advId}
</update>

</mapper>