<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2cg.accommodation.dao.MessageDAO">
  <resultMap id="BaseResultMap" type="com.h2cg.accommodation.dto.MessageDTO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="messages" jdbcType="VARCHAR" property="messages" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
 
  <sql id="Base_Column_List">
    id, user_id, messages, time
  </sql>
 
  <insert id="insert" parameterType="com.h2cg.accommodation.dto.MessageDTO">
    insert into MESSAGE (id, user_id, messages, 
      time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{messages,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.h2cg.accommodation.dto.MessageDTO">
    insert into MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="messages != null">
        messages,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="messages != null">
        #{messages,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
</mapper>