<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2cg.accommodation.dao.ReviewDAO">
	<resultMap id="BaseResultMap" type="com.h2cg.accommodation.dto.ReviewDTO">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="book_id" jdbcType="INTEGER" property="bookId" />
		<result column="rating" jdbcType="INTEGER" property="rating" />
		<result column="comment" jdbcType="VARCHAR" property="comment" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
		<association property="book" column="book_id" javaType="com.h2cg.accommodation.dto.BookDTO">
			<id property="id" column="book_id" />
			<result property="userId" column="user_id" />
			<result property="roomId" column="room_id" />
			<result column="stay_begin" jdbcType="TIMESTAMP" property="stayBegin" />
			<result column="stay_end" jdbcType="TIMESTAMP" property="stayEnd" />
			<result column="booktime" jdbcType="TIMESTAMP" property="booktime" />
			<result column="habit" jdbcType="VARCHAR" property="habit" />
			<result column="expectation" jdbcType="VARCHAR" property="expectation" />
			<association property="user" column="user_id" javaType="com.h2cg.accommodation.dto.UsersDTO">
				<id property="id" column="user_id" />
				<result column="id" jdbcType="INTEGER" property="id" />
				<result column="user_name" jdbcType="VARCHAR" property="userName" />
			</association>
			<association property="room" column="room_id" javaType="com.h2cg.accommodation.dto.RoomDTO">
				<id column="room_id" jdbcType="INTEGER" property="id" />
				<result column="adv_id" jdbcType="INTEGER" property="advId" />
				<result column="name" jdbcType="VARCHAR" property="name" />
				<result column="rental" jdbcType="DOUBLE" property="rental" />
				<result column="max_people" jdbcType="INTEGER" property="maxPeople" />
				<result column="description" jdbcType="VARCHAR" property="description" />
			</association>
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id, book_id, comment, time
	</sql>
	<select id="selectByBookId" parameterType="com.h2cg.accommodation.dto.ReviewDTO" resultMap="BaseResultMap">
		select * from REVIEW
		where book_id =
		#{bookId,jdbcType=INTEGER}
	</select>
	<select id="selectByAdvId" parameterType="com.h2cg.accommodation.dto.ReviewDTO" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		`REVIEW` r
		LEFT JOIN BOOK b ON r.book_id = b.id
		LEFT JOIN ROOM rm ON rm.id = b.room_id
		LEFT JOIN ADVERTISE a ON a.id = rm.adv_id
		LEFT JOIN USERS u ON u.id = b.user_id
		WHERE
		a.id = #{advId,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.h2cg.accommodation.dto.ReviewDTO">
		insert into REVIEW (id, book_id, comment,
		time)
		values
		(#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER},
		#{comment,jdbcType=VARCHAR},
		#{time,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.h2cg.accommodation.dto.ReviewDTO">
		insert into REVIEW
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bookId != null">
				book_id,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="time != null">
				time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bookId != null">
				#{bookId,jdbcType=INTEGER},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

</mapper>